body {
    font-family: Arial, sans-serif;
    background-color: #eaa1ea;
    text-align: center;
}

.container {
    max-width: 5000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(62, 6, 89, 0.1);
}

h1 {
    color: rgb(255, 81, 0);
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #0f4f7a;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #6ece24;
}
